<a href="https://colab.research.google.com/github/muntzar313/My-Data-Science-Journey/blob/main/EDA_excersize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing library


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#converting the file from Xlxs to csv & importing the data
excel_file=pd.read_excel('census_data.xlsx')
excel_file.to_csv('census_data.csv',index=None,header=True)
df=pd.read_csv('census_data.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3138 entries, 0 to 3137
Data columns (total 45 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Unnamed: 0                                                                   3134 non-null   object
 1   Unnamed: 1                                                                   3134 non-null   object
 2   Unnamed: 2                                                                   3134 non-null   object
 3   Unnamed: 3                                                                   3133 non-null   object
 4   Unnamed: 4                                                                   3135 non-null   object
 5   C-8  EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011  3134 non-null   object
 6   Unnamed: 6                                                                   3135 non-null   object
 7   Unnamed: 7                                                                   3134 non-null   object
 8   Unnamed: 8                                                                   3134 non-null   object
 9   Unnamed: 9                                                                   3135 non-null   object
 10  Unnamed: 10                                                                  3134 non-null   object
 11  Unnamed: 11                                                                  3134 non-null   object
 12  Unnamed: 12                                                                  3135 non-null   object
 13  Unnamed: 13                                                                  3134 non-null   object
 14  Unnamed: 14                                                                  3134 non-null   object
 15  Unnamed: 15                                                                  3137 non-null   object
 16  Unnamed: 16                                                                  3134 non-null   object
 17  Unnamed: 17                                                                  3134 non-null   object
 18  Unnamed: 18                                                                  3136 non-null   object
 19  Unnamed: 19                                                                  3134 non-null   object
 20  Unnamed: 20                                                                  3134 non-null   object
 21  Unnamed: 21                                                                  3135 non-null   object
 22  Unnamed: 22                                                                  3134 non-null   object
 23  Unnamed: 23                                                                  3134 non-null   object
 24  Unnamed: 24                                                                  3135 non-null   object
 25  Unnamed: 25                                                                  3134 non-null   object
 26  Unnamed: 26                                                                  3134 non-null   object
 27  Unnamed: 27                                                                  3135 non-null   object
 28  Unnamed: 28                                                                  3134 non-null   object
 29  Unnamed: 29                                                                  3134 non-null   object
 30  Unnamed: 30                                                                  3136 non-null   object
 31  Unnamed: 31                                                                  3134 non-null   object
 32  Unnamed: 32                                                                  3134 non-null   object
 33  Unnamed: 33                                                                  3136 non-null   object
 34  Unnamed: 34                                                                  3134 non-null   object
 35  Unnamed: 35                                                                  3134 non-null   object
 36  Unnamed: 36                                                                  3136 non-null   object
 37  Unnamed: 37                                                                  3134 non-null   object
 38  Unnamed: 38                                                                  3134 non-null   object
 39  Unnamed: 39                                                                  3135 non-null   object
 40  Unnamed: 40                                                                  3134 non-null   object
 41  Unnamed: 41                                                                  3134 non-null   object
 42  Unnamed: 42                                                                  3135 non-null   object
 43  Unnamed: 43                                                                  3134 non-null   object
 44  Unnamed: 44                                                                  3134 non-null   object
dtypes: object(45)
memory usage: 1.1+ MB

In [12]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Table,State,Distt.,Area Name,Total/,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Code,Code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,...,NaN,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN
2,NaN,NaN,NaN,NaN,Urban/,NaN,NaN,NaN,NaN,NaN,...,NaN,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,31,32,33,34,35,36,37,38,39,40