In [8]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27} 
new_x=Employee_data.values()

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [13]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27} 
new_x=Employee_data.values()
print(max(new_x))
#shortcut
max(Employee_data.values())

45

45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [50]:
# Type your code here
print(Employee_data,159)
print("Salary:",Employee_data.get("143"))

{101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 27, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27, ('104', '140', '164'): 27, (104, 140, 164): 27} 159
Salary: None

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [19]:
# Type your code here
len(Employee_data)

74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [26]:
# Type your code here
new_x=Employee_data.values()
total=len(Employee_data)
mean=sum(new_x) / total
print(mean)

#shortcut
sum (Employee_data.values())/74

31.364864864864863

31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
<br> Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [58]:
# Original Employee_data dictionary
Employee_data = {
    101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22,
    111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42,
    122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37,
    132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29,
    142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34,
    153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20,
    166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44,
    176: 27, 177: 30, 178: 26, 179: 27
}

# Task 1: Update the ages of employee IDs 104, 140, and 164 to 27
Employee_data[104] = 27
Employee_data[140] = 27
Employee_data[164] = 27

# Task 2: Remove the employee with ID 143
if 143 in Employee_data:
    del Employee_data[143]

# Calculate the updated mean age
mean_age = sum(Employee_data.values()) / len(Employee_data)

# Print the updated Employee_data and the mean age
print("Updated Employee Data:", Employee_data)
print("Updated Mean Age:", mean_age)

Updated Employee Data: {101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 27, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}
Updated Mean Age: 31.136986301369863

In [59]:
d1 = {104: 27, 140:27, 164:27}
Employee_data.update(d1)
#check the ages of these emplyees. 
print ("Age of person with employee ID 104 is",Employee_data[104])
print ("Age of person with employee ID 140 is",Employee_data[140])
print ("Age of person with employee ID 164 is",Employee_data[164])
#task 2
# Task 2: Remove the employee with ID 143
if 143 in Employee_data:
    del Employee_data[143]
# find the mean 
mean = sum(Employee_data.values()) / len(Employee_data)
print ("The average age of employees is", mean)

Age of person with employee ID 104 is 27
Age of person with employee ID 140 is 27
Age of person with employee ID 164 is 27
The average age of employees is 31.136986301369863

In [60]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [62]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[-1][0])
fruits[3][0]

banana

'banana'

In [63]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [64]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [65]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [66]:
var=(5)
print(type(var))

<class 'int'>

In [67]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [68]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [69]:


s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [70]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [77]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[0])

KeyError: 0

dict_keys(['John', 'Alex'])

In [73]:
d = {"Python":40, "R":45}
"Python" in d

True

In [74]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [75]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8